<!DOCTYPE html>
<html>
<head>
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="../static/css/about.css">
	<link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">

</head>
<body>

	<h1>The Covid Fighters</h1>

	<div class="row">
	  <div class="column">
	    <div class="card">
	      <img src="../static/img/kewen.png" alt="Kewen" style="width:100%">
	      <div class="container">
	        <h2>Kewen Wang</h2>
	        <p class="title">Front-End</p>
	        <p>Rising senior at UTCS</p>
	        <p>wankew22@utexas.edu</p>
	        <p><button class="button">Contact</button></p>
	      </div>
	    </div>
	  </div>

	  <div class="column">
	    <div class="card">
	      <img src="img2.jpg" alt="Pranav" style="width:100%">
	      <div class="container">
	        <h2>Pranav Varanasi</h2>
	        <p class="title">Back-End</p>
	        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
	        <p>example@example.com</p>
	        <p><button class="button">Contact</button></p>
	      </div>
	    </div>
	  </div>

	  <div class="column">
	    <div class="card">
	      <img src="img3.jpg" alt="Harinadha" style="width:100%">
	      <div class="container">
	        <h2>Harinadha Re Mallidi</h2>
	        <p class="title">Back-End</p>
	        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
	        <p>example@example.com</p>
	        <p><button class="button">Contact</button></p>
	      </div>
	    </div>
	  </div>

	  <div class="column">
	    <div class="card">
	      <img src="img3.jpg" alt="Nayan" style="width:100%">
	      <div class="container">
	        <h2>Nayan Shashidhar</h2>
	        <p class="title">Back-End</p>
	        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
	        <p>example@example.com</p>
	        <p><button class="button">Contact</button></p>
	      </div>
	    </div>
	  </div>

	  <div class="column">
	    <div class="card">
	      <img src="img3.jpg" alt="Angela" style="width:100%">
	      <div class="container">
	        <h2>Angela Cao</h2>
	        <p class="title">Front-End</p>
	        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
	        <p>example@example.com</p>
	        <p><button class="button">Contact</button></p>
	      </div>
	    </div>
	  </div>

	</div>

</body>
</html>
