<!DOCTYPE html>
<html>
    <head>
        <title>Healthcare</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
         <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- Create the standard navigation bar across all pages -->
        <nav class = "navbar navbar-default">
            <div class="container">
            <div class = "navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <!-- hamburger bars = icon-bar -->
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                  <!-- Return to main page when you hit the "Covid Fighter" button-->
                  <a href="/" class="navbar-brand">Covid Fighter</a>
            </div>
        
          <!-- id matches target -->
          <div class = "collapse navbar-collapse" id = "bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
              <!-- Generate interactive buttons across bar for the three pages -->
              <li><a href="grocery">Grocery</a></li>
              <li><a href="restaurants">Restaurant</a></li>
              <li><a href="healthcare">Healthcare</a></li>
              </ul>

              <!-- Place About button on right side of navigation bar-->
              <ul class="nav navbar-nav navbar-right">
              <li><a href="about">About</a></li>
              </ul>
            </div>
        
            </div> <!-- end of container -->
        </nav>

        <center><h1> COVID-19 Testing Locations Currently Open: </center>
        <center>
            <!-- Information and images and stuff for 3 restaurants -->
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#RoundRockBaylor">Round Rock Baylor Clinic</button>
            <div class = "collapse" id="RoundRockBaylor">
            <div class="testcenter" id="RoundRockBaylor">
                <img src="../static/img/RoundRockBaylor.jpg" alt="Round Rock Baylor Clinic" style="width:50%" style = "height:50%"> 
                <!-- Round Rock Baylor Clinic -->
                <h2>Round Rock Baylor Clinic</h2>
                <h3>425 University Blvd, Round Rock, TX 78665</h3>
                <h3> Phone Number: 512-509-0200</h3>
                <!--FIX CENTER ALIGNMENT:-->
                <a href="https://www.bswhealth.com/locations/round-rock-425-university-clinic/?y_source=1_MTM0MTE2MzgtNzE1LWxvY2F0aW9uLndlYnNpdGU=" style="text-align:center"><font size = "+2"> Go to Website</font></a>
                <ul>
                    <h3>Hours</h3>
                    <li>8AM-5PM (Mon-Thurs)</li>
                    <li>8AM-5PM (Fri-Sat)</li>
                    <li>8AM-5PM (Sun)</li>
                </ul>
            </div>
            </div>
            <br></br>
            

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#AustinBaylor">Austin Baylor Clinic</button>
            <div class = "collapse" id="AustinBaylor">
            <div class="testcenter" id="AustinBaylor">
                <img src="../static/img/AustinBaylor.jpg" alt="Austin Baylor Clinic" style="width:50%" style = "height:50%"> 
                <!-- Austin  Baylor Clinic -->
                <h2>Austin Baylor Clinic</h2>
                <h3>5245 West US Highway 290 Service Rd, Austin, TX 78735</h3>
                <h3> Phone Number: 512-654-2100</h3>
                <a href="https://www.bswhealth.com/locations/austin-medical-center/" style="text-align:center"><font size = "+2"> Go to Website</font></a>
                <ul>
                    <h3>Hours</h3>
                    <li>24 Hours (Mon-Thurs)</li>
                    <li>24 Hours (Fri-Sat)</li>
                    <li>24 Hours (Sun)</li>
                </ul>
            </div>
            </div>
            <br></br>

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#UTHealth">UT Health Austin</button>
            <div class = "collapse" id="UTHealth">
            <div class="testcenter" id="UTHealth">
                <img src="../static/img/UTHealth.jpg" alt="UT Health Austin" style="width:50%" style = "height:50%"> 
                <!-- UT Health -->
                <h2>UT Health Austin</h2>
                <h3>Health Transformation Building, 1601 Trinity St Building A, Austin, TX 78712</h3>
                <h3> Phone Number: 833-882-2737</h3>
                <a href="https://uthealthaustin.org/" style="text-align:center"><font size = "+2"> Go to Website</font></a>
                <ul>
                    <h3>Hours</h3>
                    <li>8AM-5PM (Mon-Fri)</li>
                    <li>Closed (Sat-Sun)</li>
                </ul>
            </div>
            </div>
            <br></br>

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#TonyBerger">Toney Berger Activity Center</button>
            <div class = "collapse" id="TonyBerger">
            <div class="testcenter" id="TonyBerger">
                <img src="../static/img/TonyBerger.jpg" alt="Toney Berger Activity Center" style="width:50%" style = "height:50%"> 
                <!-- Toney Berger Activity Center -->
                <h2>Toney Berger Activity Center</h2>
                <h3>3200 Jones Rd, Austin, TX, 78745</h3>
                <h3> Phone Number: 512-414-1050</h3>
                <a href="https://www.austinisd.org/construction-management/bond/bond-and-construction-projects/burger-athletic-complex" style="text-align:center"><font size = "+2"> Go to Website</font></a>
                <ul>
                    <li>8AM-8PM (Mon-Fri)</li>
                    <li>Closed (Sat-Sun)</li>
                </ul>
            </div>
            </div>
            <br></br>

            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#AdventHealth">Advent Health Central Texas</button>
            <div class = "collapse" id="AdventHealth">
            <div class="testcenter" id="AdventHealth">
                <img src="../static/img/AdventHealth.jpg" alt="Advent Health Central Texas" style="width:50%" style = "height:50%"> 
                <!-- Advent Health-->
                <h2>Advent Health Central Texas</h2>
                <h3>2201 South Clear Creek Road, Killeen, TX, 76549</h3>
                <h3> Phone Number: 254-526-7523</h3>
                <a href="https://www.adventhealth.com/hospital/adventhealth-central-texas" style="text-align:center"><font size = "+2"> Go to Website</font></a>
                <ul>
                    <h3>Hours</h3>
                    <li>9AM-9PM (Mon-Thurs)</li>
                    <li>9AM-9PM (Fri-Sat)</li>
                    <li>9AM-9PM (Sun)</li>
                </ul>
            </div>
            </div>
            <br></br>


            
            


        </center>
    </body>
</html>
