.subpage_img {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 1px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 300px;
    height: 300px;
    width: 80%;
  }